body {
  margin: 0;
  background: #f2f6f5;
  font-family: "Nunito", sans-serif;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 80px;
}

main {
  margin: 0 10px 0 10px;
}

header {
  text-align: center;
  font-size: 46px;
  font: bold;
  color: #63707e;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: #93b5b3;
}

#dashboard {
  display: flex;
  flex-direction: column;
}

#dashboard.hidden {
  display: none;
}

#create {
  display: flex;
  flex-direction: column;
}

#create.hidden {
  display: none;
}

#post__text {
  min-height: 100px;
}

#post__button {
  background: #63707e;
  width: 80px;
}

.button_footer {
  font-size: 32px;
  color: #63707e;
}

.dashboard__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #c8dad3;
}

footer {
  text-align: center;
}
